{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Hello!</h1>
        <p>We are creating webapplication with possibility to uploading biomedical dataset and showing results on charts.</p>
        <p>
          <a class="btn btn-primary" href="/about" role="button">I want to know more. &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}